.left-panel {
  width: 20%;
  float: left;
  margin: 10px 0;
}

.main-panel {
  width: 75%;
  float: left;
  margin: 10px 0;
}

.main-nav li {
  display: inline-block;
  width:50px;
}
.main-nav{
  
}
.main-nav:after {
  clear: both;
}
